<div id="container">
  <h1>DASHBOARD</h1>
  <img src="../../assets/images/about.png">
  <h2>JOHN EDWINSON DELOS REYES</h2>
  <p>As a student, one might pursue various goals—learning, personal growth, skill development, career advancement, among others. The pursuit of education often stems from a desire to acquire knowledge, broaden one's understanding of the world, and ultimately prepare for future endeavors. Additionally, education can open doors to new opportunities, enhance critical thinking abilities, and foster personal development. Overall, the pursuit of education as a student can be driven by a combination of curiosity, ambition, and a desire for self-improvement.</p>
  <h3>Interest & Hobbies</h3>
  <p>My interest nowadays is to improve my coding in appdev cause i know that it is to hard for me to understand sometimes. In my free time or hobbies, I like toplay video games like Mobile Legends, LEague of Legends, call of Duy etc, and watch anime. In talent, I don't have a lot talent but I can do drawing</p>
  <h3>Skills</h3>
  <ul>
    <li>Fast-learner</li>
    <li>adaptation</li>
    <li>Basic Digital designing</li>
    <li>Basic Coding</li>
  </ul>
  <h4>How do you see yourself in 5 years?</h4>
  <p>Hmm i want a peaceful life and a simple job.</p>
  <h4>Strength & Weakness</h4>
  <p>i dont know my strenght is i just want to enjoy my life and for my weakness everything. </p>
  <h4>Motto</h4>
  <p>Enjoy your life now or regret it later.</p>
  <h4>Love language mo? Bakit?</h4>
  <p>Quality time dahil gusto ko siguro ung lagi mo siyang makakasama kaso parang red flag HAHAHAHAA.</p>
  <h4>Kung pagkain ka ano ka? Bakit?</h4>
  <p>kung pwedeng kape? kape siguro para maging favorite niya HAHAHAHA.</p>
  <h4>Pet Peeve</h4>
  <p>BEING IGNORE.</p>
</div>

<div class="log-out-btn">
  <ion-fab-button (click)="logOut()">
    log Out
  </ion-fab-button>
</div>

