#container {
  background-image: linear-gradient(to bottom, #111827 0%, #232f3f 100%);
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 5rem;
}

ion-card {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: black;
}

.dashboard h3 { 
  text-align: center;
  margin: 0;
  margin-left: 20px;
}

ion-title {
  text-align: center;
}

ion-card-header{
  color: black;
}

.log-out-btn {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

#container h1 {
  color: #ffae00;
  font-family: Space Mono, monospace;
  font-size: 2rem;
  font-weight: 800;
  padding-left: 2rem;
}

#container h2 {
  color: #ff0000;
  font-family: Space Mono, monospace;
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

#container p {
  color: #CCD6F6;
  font-family: Space Mono, monospace;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  text-align: justify;
  text-indent: 1em;
  padding: 1rem 2rem;
}

#container h3 {
  color: #CCD6F6;
  font-family: Space Mono, monospace;
  margin: 0;
  font-weight: 800;
  padding-left: 2rem;
}

#container ul {
  color: #CCD6F6;
  font-family: Space Mono, monospace;
  font-size: 1rem;
  margin: 0;
  text-align: justify;
  margin: 0 2rem;
  padding: 1rem 2rem;
}

#container h4 {
  color: #CCD6F6;
  font-family: Space Mono, monospace;
  margin: 0;
  font-weight: 800;
  padding-left: 2rem;
}